cp{
    float: left;
    margin-left: 350px;
    background-color: rgb(238, 223, 252);
    width: 550px;
    height: 900px;
    padding: 5px;
    border-width:1px;
    border-style:dotted;
    border-color:black;
}

h1{
    color : black;
    font-family: Brush Script MT;
    animation: chgt-couleur 5s alternate infinite;
    -webkit-animation: chgt-couleur 5s alternate infinite;
}

aside{
    line-height: 30px;
	background-color: #fafada;
	height: 900px;
	width: 20%;
	float: left;
	padding: 5px;
    border-width:1px;
    border-style:dotted;
    border-color:black;
    box-shadow: 4px 4px 4px rgb(156, 155, 155);
}
img{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 50%;
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
	animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}

@-webkit-keyframes chgt-couleur {
    from {color: black;}
    50%{color : purple;}
    to {color: white;}
}

@keyframes chgt-couleur {
    from {color: black;}
    50%{color : purple;}
    to {color: white;}
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}