body{
    background-color: rgb(161, 132, 132);
}
header{
    height: 300px;
    width: auto;
    background-image: url(danse.jpg);
    border-style:solid;
    border-color:rgb(255, 224, 229);
}

img{
    margin-top: -5%;
    display: block;
    height: 250px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: scale-up-center 1s ;
	animation: scale-up-center 1s ;
}

h2{
    color : black;
    font-family: Brush Script MT;
    animation: chgt-couleur 5s alternate infinite;
    -webkit-animation: chgt-couleur 5s alternate infinite;

}

aside{
    line-height: 20px;
    text-align: center;
    margin-top: 5%;
    margin-right: 15%;
	background-color: #fafada;
	height: 300px;
	width: 220px;
	float: right;
	padding: 5px;
    border-width:1px;
    border-style:solid;
    border-color:black;
    box-shadow: 5px 5px 5px rgb(156, 155, 155);
}

.cp{
    line-height: 20px;
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(228, 188, 159);
    width: 350px;
    height: 270px;
    border-width:1px;
    border-style:solid;
    border-color:black;
    box-shadow: 5px 5px 5px rgb(156, 155, 155);
}

.exp{
    line-height: 20px;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 330px;
    border-width:1px;
    background-color: rgb(215, 247, 215);
    border-color:black;
    border-style:solid;
    box-shadow: 5px 5px 5px rgb(156, 155, 155);
}

.lang{
    
    line-height: 20px;
    text-align: center;
    height: 120px;
    width: 220px;
    float: right;
    margin-top: 2%;
    margin-right: 15%;
    border-width:1px;
    background-color: rgb(238, 215, 219);
    border-color:black;
    border-style:solid;
    box-shadow: 5px 5px 5px rgb(156, 155, 155);
}

section{
    line-height: 20px;
    text-align: center;
    float: left;
    height: 300px;
    width: 250px;
    margin-top: 5%;
    margin-left: 15%;
    background-color: rgb(225, 202, 247);
    padding: 5px;
    border-width:1px;
    border-color:black;
    border-style: solid;
    box-shadow: 5px 5px 5px rgb(156, 155, 155);
}
audio { 
    width: 200px; 
}
form{
    text-align: center;
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    background-color: rgb(182, 255, 255);
    padding: 5px;
    width: 250px;
    border-width:1px;
    border-color:black;
    border-style: solid;
    box-shadow: 5px 5px 5px rgb(156, 155, 155);
}

footer{
    background-color: rgb(58, 45, 65);
    margin-top: 2%;
    height: 150px;
    width: auto;

}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @-webkit-keyframes chgt-couleur {
    from {color: black;}
    50%{color : purple;}
    to {color: white;}
}

@keyframes chgt-couleur {
    from {color: black;}
    50%{color : purple;}
    to {color: white;}
}